<a href="https://colab.research.google.com/github/facahto/Scraping/blob/main/wiki/scrape_wiki_ExpensiveMovies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_most_expensive_films'
req = requests.get(url)
#req = req.content

In [3]:
soup  = BeautifulSoup(req.text,'html.parser') #html script
table = soup.find('table', {'class':"wikitable sortable plainrowheaders"}).tbody

In [4]:
### IDENTIFY ROWS
rows  = table.find_all('tr')

In [5]:
### COLUMNS
# 1) for v in rows[0].find_all('th'):
#      print(v,end='-'*10)
# 2) columns = [element.text for element in rows[0].find_all('th')]
# 3) Simplify to:
columns = [element.text.replace('\n','') for element in rows[0].find_all('th')]
del columns[-1]
### dataframe (column)
df = pd.DataFrame(columns=columns)
display(df)

Empty DataFrame
Columns: [Rank, Title, Year, Cost (est.)(millions)]
Index: []

In [11]:
### dataframe (rows)

N = len(rows)
l_v1 = []
for i in range(1,N):
  row = rows[i].find_all('td')
  if len(row) == 4:
    print('---4')
    print(row[2].text)
  else:
    print('---3')
    print(row[1].texe)
  print('-'*20)

'''if len(row) == 4:
  val = [row[0].text,row[1].text,row[2].text,row[3].text]
  l_v1.append(row[0].text)
else:
  v = l_v1[-1]
  val = [v,row[0].text,row[1].text,row[2].text]
print(pd.Series(val,index=columns))'''

---4
*$447

--------------------
---4
*$432

--------------------
---4
*$416

--------------------
---4
*$379

--------------------
---4
*$365

--------------------
---4
$356

--------------------
---4
$350

--------------------
---4
$340

--------------------
---4
$325

--------------------
---4
$300

--------------------
---3
None
--------------------
---3
None
--------------------
---4
*$295

--------------------
---3
None
--------------------
---4
$291

--------------------
---4
*$271

--------------------
---4
*$265

--------------------
---4
*$264

--------------------
---4
$263

--------------------
---4
$260

--------------------
---3
None
--------------------
---4
*$258

--------------------
---4
*$255

--------------------
---4
$250

--------------------
---3
None
--------------------
---3
None
--------------------
---3
None
--------------------
---3
None
--------------------
---3
None
--------------------
---3
None
--------------------
---3
None
--------------------
---4
$245

--------------------
---4
*$237

--------------------
---4
$236

--------------------
---4
*$232

--------------------
---4
$230

--------------------
---3
None
--------------------
---3
None
--------------------
---4
$226

--------------------
---4
*$225

--------------------
---3
None
--------------------
---3
None
--------------------
---3
None
--------------------
---4
$220

--------------------
---4
*$217

--------------------
---3
None
--------------------
---4
*$215

--------------------
---3
None
--------------------
---4
$210

--------------------
---3
None
--------------------
---4
*$209

--------------------
---3
None
--------------------
---3
None
--------------------
---4
$207

--------------------
---4
$205

--------------------
---3
None
--------------------
---4
*$204

--------------------

'if len(row) == 4:\n  val = [row[0].text,row[1].text,row[2].text,row[3].text]\n  l_v1.append(row[0].text)\nelse:\n  v = l_v1[-1]\n  val = [v,row[0].text,row[1].text,row[2].text]\nprint(pd.Series(val,index=columns))'