<a href="https://colab.research.google.com/github/facahto/Scraping/blob/main/wiki/scrape_wiki_ExpensiveMovies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_most_expensive_films'
req = requests.get(url)
#req = req.content

In [3]:
soup  = BeautifulSoup(req.text,'html.parser') #html script
table = soup.find('table', {'class':"wikitable sortable plainrowheaders"}).tbody

In [4]:
### IDENTIFY ROWS
rows  = table.find_all('tr')

In [5]:
### COLUMNS
# 1) for v in rows[0].find_all('th'):
#      print(v,end='-'*10)
# 2) columns = [element.text for element in rows[0].find_all('th')]
# 3) Simplify to:
columns = [element.text.replace('\n','') for element in rows[0].find_all('th')]
del columns[-1]
### dataframe (column)
df = pd.DataFrame(columns=columns)
display(df)

Empty DataFrame
Columns: [Rank, Title, Year, Cost (est.)(millions)]
Index: []

In [6]:
### dataframe (rows)
print('Most expensive films :','\n')
N = len(rows)
l_v1 = []
for i in range(1,N):

  row1 = rows[i].find_all('td')
  row2 = rows[i].find_all('th')

  if len(row1) == 4:
    val = [row1[0].text.replace('\n',''),row2[0].text.replace('\n',''),row1[1].text.replace('\n',''),row1[2].text.replace('*','').replace('\n','')]
    l_v1.append(row1[0].text)
  else:
    v = l_v1[-1].replace('\n','')
    val = [v,row2[0].text.replace('\n',''),row1[0].text.replace('\n',''),row1[1].text.replace('\n','')]

  df.loc[len(df.index)] = val
display(df)

Most expensive films :

,Rank,Title,Year,Cost (est.)(millions)
0,1,Star Wars: The Force Awakens,2015,$447
1,2,Jurassic World: Fallen Kingdom,2018,$432
2,3,Star Wars: The Rise of Skywalker,2019,$416
3,4,Pirates of the Caribbean: On Stranger Tides,2011,$379
4,5,Avengers: Age of Ultron,2015,$365
5,6,Avengers: Endgame,2019,$356
6,7,Avatar: The Way of Water,2022,$350
7,8,Fast X,2023,$340
8,9,Avengers: Infinity War,2018,$325
9,10,Pirates of the Caribbean: At World's End,2007,$300
10,10,Justice League,2017,$300
11,10,Star Wars: The Last Jedi,2017,$300
12,13,Doctor Strange in the Multiverse of Madness,2022,$295
13,13,Indiana Jones and the Dial of Destiny,2023,*$295
14,15,Mission: Impossible – Dead Reckoning Part One,2023,$291
15,16,Solo: A Star Wars Story,2018,$271
16,17,Jurassic World Dominion,2022,$265
17,18,John Carter,2012,$264
18,19,Batman v Superman: Dawn of Justice,2016,$263
19,20,Tangled,2010,$260
20,20,The Lion King,2019,$260
21,22,Spider-Man 3,2007,$258
22,23,Beauty and the Beast,2017,$255
23,24,Harry Potter and the Half-Blood Prince,2009,$250
24,24,Furious 7,2015,$250
25,24,The Fate of the Furious,2017,$250
26,24,No Time to Die,2021,$250
27,24,Thor: Love and Thunder,2022,$250
28,24,Black Panther: Wakanda Forever,2022,$250
29,24,Guardians of the Galaxy Vol. 3,2023,$250
30,24,The Little Mermaid,2023,$250
31,32,Spectre,2015,$245
32,33,Avatar,2009,$237
33,34,Eternals,2021,$236
34,35,Rogue One,2016,$232
35,36,The Dark Knight Rises,2012,$230
36,36,Captain America: Civil War,2016,$230
37,36,Pirates of the Caribbean: Dead Men Tell No Tales,2017,$230
38,39,Maleficent,2014,$226
39,40,The Chronicles of Narnia: Prince Caspian,2008,$225
40,40,The Lone Ranger,2013,*$225
41,40,Pirates of the Caribbean: Dead Man's Chest,2006,$225
42,40,Man of Steel,2013,$225
43,44,The Avengers,2012,$220
44,45,The Hobbit: The Desolation of Smaug,2013,$217
45,45,Transformers: The Last Knight,2017,*$217
46,47,Men in Black 3,2012,$215
47,47,Oz the Great and Powerful,2013,*$215
48,49,X-Men: The Last Stand,2006,$210
49,49,Transformers: Age of Extinction,2014,$210
50,51,Battleship,2012,$209
51,51,Dawn of the Planet of the Apes,2014,$209
52,51,The Hobbit: The Battle of the Five Armies,2014,$209
53,54,King Kong,2005,$207
54,55,X-Men: Days of Future Past,2014,$205
55,55,Tenet,2020,$205
56,57,Superman Returns,2006,$204

In [8]:
table   = soup.find_all('table', {'class':"wikitable sortable plainrowheaders"})
M = len(table)
for i in range(M):
  title = table[i].find('caption')
  print('\n\n',title.text)
  rows  = table[i].find_all('tr')

  if i != M-1:

    columns = [element.text.replace('\n','') for element in rows[0].find_all('th')]
    del columns[-1]
    df2     = pd.DataFrame(columns=columns)
    rows    = table[i].find_all('tr')

    N       = len(rows)
    l_v1    = []
    for i in range(1,N):

      row1 = rows[i].find_all('td')
      row2 = rows[i].find_all('th')

      if len(row1) == 4:
        val = [row1[0].text.replace('\n',''),row2[0].text.replace('\n',''),row1[1].text.replace('\n',''),row1[2].text.replace('*','').replace('\n','')]
        l_v1.append(row1[0].text)
      else:
        v   = l_v1[-1].replace('\n','')
        val = [v,row2[0].text.replace('\n',''),row1[0].text.replace('\n',''),row1[1].text.replace('\n','')]

      df2.loc[len(df2.index)] = val
  else:
    columns    = [element.text.replace('\n','') for element in rows[0].find_all('th')]
    columns[3] = 'adjusted'
    columns[4] = 'nominal'
    df2        = pd.DataFrame(columns=columns)
    rows_      = table[i].find_all('tr')

    M = len(rows_)
    lv_1 = []
    for i in range(2,M):
      row1 = rows_[i].find_all('td')
      row2 = rows_[i].find_all('th')

      if len(row1[0].text) <5:
        val = [row1[0].text.replace('\n',''),row2[0].text.replace('\n',''),row1[1].text.replace('\n',''),row1[2].text.replace('\n',''),row1[3].text.replace('\n','').replace('*','')]
        lv_1.append(row1[0].text.replace('\n',''))
      else:
        val = [lv_1[-1].replace('\n',''),row2[0].text.replace('\n',''),row1[0].text.replace('\n',''),row1[1].text.replace('\n',''),row1[2].text.replace('\n','').replace('*','')]
      df2.loc[len(df2.index)] = val

  display(df2)

 Most expensive films

,Rank,Title,Year,Cost (est.)(millions)
0,1,Star Wars: The Force Awakens,2015,$447
1,2,Jurassic World: Fallen Kingdom,2018,$432
2,3,Star Wars: The Rise of Skywalker,2019,$416
3,4,Pirates of the Caribbean: On Stranger Tides,2011,$379
4,5,Avengers: Age of Ultron,2015,$365
5,6,Avengers: Endgame,2019,$356
6,7,Avatar: The Way of Water,2022,$350
7,8,Fast X,2023,$340
8,9,Avengers: Infinity War,2018,$325
9,10,Pirates of the Caribbean: At World's End,2007,$300
10,10,Justice League,2017,$300
11,10,Star Wars: The Last Jedi,2017,$300
12,13,Doctor Strange in the Multiverse of Madness,2022,$295
13,13,Indiana Jones and the Dial of Destiny,2023,*$295
14,15,Mission: Impossible – Dead Reckoning Part One,2023,$291
15,16,Solo: A Star Wars Story,2018,$271
16,17,Jurassic World Dominion,2022,$265
17,18,John Carter,2012,$264
18,19,Batman v Superman: Dawn of Justice,2016,$263
19,20,Tangled,2010,$260
20,20,The Lion King,2019,$260
21,22,Spider-Man 3,2007,$258
22,23,Beauty and the Beast,2017,$255
23,24,Harry Potter and the Half-Blood Prince,2009,$250
24,24,Furious 7,2015,$250
25,24,The Fate of the Furious,2017,$250
26,24,No Time to Die,2021,$250
27,24,Thor: Love and Thunder,2022,$250
28,24,Black Panther: Wakanda Forever,2022,$250
29,24,Guardians of the Galaxy Vol. 3,2023,$250
30,24,The Little Mermaid,2023,$250
31,32,Spectre,2015,$245
32,33,Avatar,2009,$237
33,34,Eternals,2021,$236
34,35,Rogue One,2016,$232
35,36,The Dark Knight Rises,2012,$230
36,36,Captain America: Civil War,2016,$230
37,36,Pirates of the Caribbean: Dead Men Tell No Tales,2017,$230
38,39,Maleficent,2014,$226
39,40,The Chronicles of Narnia: Prince Caspian,2008,$225
40,40,The Lone Ranger,2013,*$225
41,40,Pirates of the Caribbean: Dead Man's Chest,2006,$225
42,40,Man of Steel,2013,$225
43,44,The Avengers,2012,$220
44,45,The Hobbit: The Desolation of Smaug,2013,$217
45,45,Transformers: The Last Knight,2017,*$217
46,47,Men in Black 3,2012,$215
47,47,Oz the Great and Powerful,2013,*$215
48,49,X-Men: The Last Stand,2006,$210
49,49,Transformers: Age of Extinction,2014,$210
50,51,Battleship,2012,$209
51,51,Dawn of the Planet of the Apes,2014,$209
52,51,The Hobbit: The Battle of the Five Armies,2014,$209
53,54,King Kong,2005,$207
54,55,X-Men: Days of Future Past,2014,$205
55,55,Tenet,2020,$205
56,57,Superman Returns,2006,$204

 Most expensive back-to-back film productions

,Rank,Titles,Years,Cost (est.)(millions)
0,1,Avengers: Infinity War and Avengers: Endgame,2018–19,"$1,000"
1,2,The Hobbit trilogy,2012–14,$623
2,3,Pirates of the Caribbean: Dead Man's Chest Pi...,2006–07,$450
3,4,The Hunger Games: Mockingjay – Part 1 and Part 2,2014–15,$300
4,5,The Lord of the Rings trilogy,2001–03,$260
5,6,Harry Potter and the Deathly Hallows – Part 1 ...,2010–11,$250
6,7,The Matrix Reloaded The Matrix Revolutions,2003,$237
7,8,The Twilight Saga: Breaking Dawn – Part 1 and ...,2011–12,$230

 Most expensive films adjusted for inflation

   Rank                                        Title  Year  adjusted nominal
0     1                 Star Wars: The Force Awakens  2015      $552    $447
1     2               Jurassic World: Fallen Kingdom  2018      $503    $432
2     3  Pirates of the Caribbean: On Stranger Tides  2011      $492    $379
3     4             Star Wars: The Rise of Skywalker  2019      $476    $416
4     5                      Avengers: Age of Ultron  2015      $451    $365
..  ...                                          ...   ...       ...     ...
80  n/a                     The Amazing Spider-Man 2  2014      $247    $200
81  n/a                       Exodus: Gods and Kings  2014      $247    $200
82  n/a                                Evan Almighty  2007      $247    $175
83  n/a                                       WALL-E  2008      $245    $180
84  n/a                                     Superman  1978  $245–249     $55

[85 rows x 5 columns]