<a href="https://colab.research.google.com/github/facahto/Scraping/blob/main/wiki/scrape_wiki_ExpensiveMovies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_most_expensive_films'
req = requests.get(url)
#req = req.content

In [3]:
soup  = BeautifulSoup(req.text,'html.parser') #html script
table = soup.find('table', {'class':"wikitable sortable plainrowheaders"}).tbody

In [4]:
### IDENTIFY ROWS
rows  = table.find_all('tr')

In [5]:
### COLUMNS
# 1) for v in rows[0].find_all('th'):
#      print(v,end='-'*10)
# 2) columns = [element.text for element in rows[0].find_all('th')]
# 3) Simplify to:
columns = [element.text.replace('\n','') for element in rows[0].find_all('th')]
del columns[-1]
### dataframe (column)
df = pd.DataFrame(columns=columns)
display(df)

Empty DataFrame
Columns: [Rank, Title, Year, Cost (est.)(millions)]
Index: []

In [16]:
### dataframe (rows)
print('Most expensive films :','\n')
N = len(rows)
l_v1 = []
for i in range(1,N):

  row1 = rows[i].find_all('td')
  row2 = rows[i].find_all('th')

  if len(row1) == 4:
    val = [row1[0].text.replace('\n',''),row2[0].text.replace('\n',''),row1[1].text.replace('\n',''),row1[2].text.replace('*','').replace('\n','')]
    l_v1.append(row1[0].text)
  else:
    v = l_v1[-1].replace('\n','')
    val = [v,row2[0].text.replace('\n',''),row1[0].text.replace('\n',''),row1[1].text.replace('\n','')]

  df.loc[len(df.index)] = val
display(df)

Most expensive films :

,Rank,Title,Year,Cost (est.)(millions)
0,1,Star Wars: The Force Awakens,2015,$447
1,2,Jurassic World: Fallen Kingdom,2018,$432
2,3,Star Wars: The Rise of Skywalker,2019,$416
3,4,Pirates of the Caribbean: On Stranger Tides,2011,$379
4,5,Avengers: Age of Ultron,2015,$365
...,...,...,...,...
223,51,The Hobbit: The Battle of the Five Armies,2014,$209
224,54,King Kong,2005,$207
225,55,X-Men: Days of Future Past,2014,$205
226,55,Tenet,2020,$205
227,57,Superman Returns,2006,$204

In [ ]:
'''val = [row1[0].text,row2[0].text,row1[2].text,row1[3].text]
    l_v1.append(row[0].text)
    print(val)
  else:
    v = l_v1[-1]
    val = [v,row[0].text,row[1].text,row[2].text]
  print(pd.Series(val,index=columns))'''